
body{
	margin:0px;
}

/*Body Header*/

header{

	height:65vh;
	opacity: 0.8;
	background-image: url(header.jpg);\
	background-size: cover;
	background-position: right;
	background-attachment: fixed;

	
}

/*Navigation*/

.horizontal-list{
	list-style: none;

}
nav li{
	display: inline-block;
	margin: 1px 15px ;


}
nav li a{
	text-decoration: none;
	color:white;
	font-size:150%;
	transition: color 0.5s;
}
nav li a:hover{
	color:black;
}


/*Body content*/

#name{
	color:floralwhite;
	font-size: 500%;
	margin:auto;
	padding-left:2vw;

}
#name-social-div {
	position: absolute;
	top:-45vh;
	height:10vh;
}

#socials li{
	display: inline-block;

}
#socials li img{
	height: 3vh;
	width:2vw;
	border-radius: 10px;
	transition: background-color 0.5s;
}
#socials li img:hover{
	background-color: floralwhite;

}
#profile-pic img{
	height: 30vh;
	width: 15vw;
	margin-left:2vw;
	border-radius: 20%;
	border-color: white;
	border-style: solid;
/*	border-width:2vw ;*/

}
/*Text Property*/
.text-center{
	text-align: center;
}
