body {
  background-color: rgba(206, 209, 194, 0.753);
}

/* Analog watch properties */
#analog-watch {
  width: 30vw;
  height: 30vw;
  background-color: white;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px black;
}
#analog-watch::before {                                   /*  circle at the middle of the clock */
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  z-index: 10;
}
#analog-watch span {                                    /*  numbers being positioned along the circumference of the watch circle  */
  position: absolute;
  inset: 10px;                                          /*  so that number are positioned at an inset of 10px from the circumference  */
  transform: rotate(calc(30deg * var(--t)));             /* so that numbers are rotated in a way that they are positioned along the circumference(combined with inset property it positions them along the circumference) */
  font-weight: bolder;
  font-size: 1.3rem;
}
#analog-watch span b {
  display: inline-block;
  transform: rotate(calc(-30deg * var(--t)));            /*  to orient the numbers properly vertically , in normal straight manner  */
}
.circle {                                   
  position: absolute;
  display: flex;
  justify-content: center;
}
.secs {                                                   /*  secs hands outer div(area under which second hand will rotate)  */
  width: 90%;
  height: 90%;
  border-radius: 50%;
}
.mins {                                                   /*  mins hands outer div(area under which minute hand will rotate)  */
  width: 80%;
  height: 80%;
  border-radius: 50%;
}
.hrs {                                                    /*  hour hands outer div(area under which hour hand will rotate)  */
  width: 70%;
  height: 70%;
  border-radius: 50%;
}

/*  watch hands property  */
.circle div {                                               
  width: 4px;
  height: 50%;
  border-radius: 25px;
  --deg: 0 deg;                             
  transform-origin: bottom;                               /*  watch hands rotate around the bottom part rather than having their center as the axis for rotation*/
  transform: rotate(var(--deg));
}
.secs div {
  width: 2px;
}
.mins div {
  width: 3px;
}

/* Digital stopwatch div */
#digital {
  margin: auto;
  margin-top: 1vw;
  text-align: center;
  font-size: 2rem;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
}
.buttons button {
  margin: 10px;
  width: 8vw;
  height: 3vh;
}
#start-btn {
  color: green;
  border-color: green;
}
#stop-btn {
  color: red;
  border-color: red;
}
#reset-btn {
  color: brown;
  border-color: brown;
}

/* Laps */
#laps {
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}
#laps div {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
